* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#search {
  display: grid;
  justify-content: center;
  align-content: center;
}

#searchBox {
  display: flex;
  padding-top: 50%;
  gap: 15px;
}

#legisInput {
  width: 500px;
  height: 30px;
}

#legisSearchBtn {
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: aliceblue;
  background-color: #4285f4;
  border-radius: 4px;
  border-color: #4285f4;
  box-shadow: 0px 0px 0px 0px;
  border: 1px;
}
